In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('bcsc_risk_factors_summarized1_092020.csv')
df2 = pd.read_csv('bcsc_risk_factors_summarized2_092020.csv')
df3 = pd.read_csv('bcsc_risk_factors_summarized3_092020.csv')

In [3]:
df1.head()

,year,age_group_5_years,race_eth,first_degree_hx,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,count
0,2013,7,1,0,9,3,1,1,2,3,0,0,7
1,2013,7,1,0,9,3,1,1,2,3,1,0,3
2,2013,7,1,0,9,3,1,1,2,4,0,0,6
3,2013,7,1,0,9,3,1,1,2,4,1,0,1
4,2013,7,1,0,9,3,1,1,2,4,1,1,1

In [10]:
type(df1['count'])

pandas.core.series.Series

In [22]:
df1_expanded = df1.loc[df1.index.repeat(df1['count'])].reset_index(drop=True)
df2_expanded = df2.loc[df2.index.repeat(df2['count'])].reset_index(drop=True)
df3_expanded = df3.loc[df3.index.repeat(df3['count'])].reset_index(drop=True)

In [23]:
len(df1_expanded.index) + len(df2_expanded.index) + len(df3_expanded.index)

6788436

In [26]:
df1_expanded.drop('count', axis=1, inplace=True)
df2_expanded.drop('count', axis=1, inplace=True)
df3_expanded.drop('count', axis=1, inplace=True)

In [27]:
df1_expanded.to_csv('bcsc_risk_factors_expanded1.csv', header=True, index=False)
df2_expanded.to_csv('bcsc_risk_factors_expanded2.csv', header=True, index=False)
df3_expanded.to_csv('bcsc_risk_factors_expanded3.csv', header=True, index=False)